body {
    background-color: #262626;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #1f1f1f;
    padding: 20px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    color: #fff;
    text-decoration: none;
}

.contact-header {
    text-align: center;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 6%;
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}


button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #e0e0e0;
    text-decoration: none;
}

.section {
    background-color: #1f1f1f;
    padding: 50px;
}

h1,
h2,
h3 {
    color: #e0e0e0;
    background-color: #262626;
    background-image: "./bg.png";
}

.portfolio-items {
    display: flex;
    gap: 50px;
}

.portfolio-item {
    text-align: center;
}

.portfolio-item img {
    max-width: 300px;
}

.portfolio-item h3 {
    margin-top: 20px;
}

.contact-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.icon {
    font-size: 24px;
    color: #e0e0e0;
    text-decoration: none;
}

.icon:hover {
    color: #ffffff;
}

.fa-phone:before {
    content: "\f095";
}

.fa-envelope:before {
    content: "\f0e0";
}

.study-items {
    display: flex;
    gap: 50px;
}

.study-items {
    text-align: center;
}

.study-items img {
    max-width: 300px;
}

.study-items h3 {
    margin-top: 20px;
}