body {
    background-color: #262626;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img.logo {
    width: 64px;
    height: 64px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    padding: 0 10px;
}

button {
    width: 200px;
    height: 60px;
    border-radius: 5%;
    background-color: #2b2b2b;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #999999;
    transform: scale(1.1);
}

.data:hover {
    transform: scale(1.1);

}

.section {
    background-color: #1f1f1f;
    padding: 50px;
}

h1, h2, h3 {
    color: #e0e0e0;
    background-color: #262626;
    padding: 10px 20px;
}

.datas {
    display: flex;
    gap: 50px;
}

.data {
    text-align: center;
    transition: transform 0.2s;
    position: relative;
}

.data img {
    max-width: 300px;
    transition: transform 0.2s; 
}

.data h3 {
    margin-top: 20px;
}


.data:hover {
    transform: scale(1.1);
}


.data::before {
    content: "";
    display: block;
    height: 60px;
}

.contact-icons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.contact-header {
    text-align: center;
}
.icon {
    font-size: 24px;
    color: #e0e0e0;
    text-decoration: none;
}

.icon:hover {
    color: #ffffff;
}

footer {
    text-align: center;
}
